/* 전체 배경 */
body {
  background-color: #a593e0;
}
/* 컨테이너 배경 */
.container {
  background-color: #fffff3;
  width: 500px;
  border-radius: 5px; /*사각형 둥근 정도*/
  margin: auto;
}
.center {
  text-align: center;
}

@font-face {
  font-family: "Humanbumsuk";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
